/* Styles for footer */

.siteFooter {
  display:flex;
  justify-content: center;
  margin: 12px;
  gap: var(--gap);
  padding: var(--gap);
  background: #bdbdbd;
  border-radius: 8px;
}

.footerContent {
    text-decoration: none; 
    font-size: 26px;
    font-weight: 600;
    color:#111; 
    padding:2px 4px; 
    border-radius:8px;
}
