/* Styles for header */

.siteHeader {
  display:flex;
  margin: 12px;
  gap: var(--gap);
  padding: var(--gap);
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
}

.navBar { display:flex; align-items:center; gap: 6px; }
.navLink { 
    text-decoration: none; 
    font-size: 26px;
    font-weight: 600;
    color:#111; 
    padding:2px 4px; 
    border-radius:4px;
    transition: background-color 0.5s;
}
.navLink:hover { background-color: #dbdbdb;}
.divider { color:#555; font-size: 26px; font-weight: 600; }

.avatarImg {
  width:80px; height:80px;
  cursor: pointer;
}

/*User info box*/
.userBox {
    position: absolute;
    top: 120px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 16px;
    display: none;
    width: 160px;
    text-align: left;
}

.userName {
    font-weight: 600;
    margin-bottom: 10px;
}


@media (max-width: 767px) { 
  .avatarImg { width:60px; height:60px; }
  .userBox{top: 100px;}
}

